{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->

    <tr>
        <!--Iterate through rows-->
        {% for row in cafes %}
        <tr>
            {% for item in row %}
                {% if item[0:4] == 'http' %}
                <!--If the first four letters of the item hint at a link, then create an <a> tag-->
                    <td> <a href="{{ item }}">Maps Link</a></td>
                {% else %}
                    <td>{{ item }}</td>
                {% endif %}

            {% endfor %}
          </tr>
        {% endfor %}
  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
